<div class="luis-collection-slider-section" id="luis-collection-slider-section">
    <div class="luis-collection-slider-row">
       <div class="page-width">
            <div class="luis-collection-slider-wrap">
              {% if section.settings.side_media_type == 'image' and section.settings.side_image != blank %}
                <div class="luis-collection-slider-left">
                    <div class="luis-collection-slider-left-img">
                      <a href="{{ section.settings.button_url }}">
                        <img 
                          src="{{ section.settings.side_image | img_url: 'master' }}" 
                          class="img-responsive"
                        />
                      </a>
                    </div>
                    <div class="luis-collection-slider-left-content">
                      {% if section.settings.title != blank %}
                        <h2>{{ section.settings.title }}</h2>
                      {% endif %}
                      {% if section.settings.button_url != blank %}
                          <a class="luis-primary-button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M10.7751 9.48691H2.73657V8.16641H10.7751L7.0777 4.46902L8.01855 3.54468L13.3005 8.82666L8.01855 14.1086L7.0777 13.1843L10.7751 9.48691Z" fill="white"/>
                          </svg>
                          </a>
                      {% endif %}
                    </div>
                  </div>
              {% elsif section.settings.side_media_type == 'video_file' and section.settings.side_video != blank %}
                <div class="luis-collection-slider-left">
                    <div class="luis-collection-slider-left-img">
                      <div class="luis-video-wrapper">
                        <video 
                          class="img-responsive"
                          {% if section.settings.video_controls %}controls{% endif %}
                          {% if section.settings.video_autoplay %}autoplay{% endif %}
                          {% if section.settings.video_loop %}loop{% endif %}
                          {% if section.settings.video_muted %}muted{% endif %}
                          {% if section.settings.video_playsinline %}playsinline{% endif %}
                          {% if section.settings.video_poster != blank %}poster="{{ section.settings.video_poster | img_url: 'master' }}"{% endif %}
                        >
                          {% for source in section.settings.side_video.sources %}
                            <source src="{{ source.url }}" type="{{ source.mime_type }}">
                          {% endfor %}
                        </video>
                      </div>
                    </div>
                    <div class="luis-collection-slider-left-content">
                      {% if section.settings.title != blank %}
                        <h2>{{ section.settings.title }}</h2>
                      {% endif %}
                      {% if section.settings.button_url != blank %}
                          <a class="luis-primary-button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M10.7751 9.48691H2.73657V8.16641H10.7751L7.0777 4.46902L8.01855 3.54468L13.3005 8.82666L8.01855 14.1086L7.0777 13.1843L10.7751 9.48691Z" fill="white"/>
                          </svg>
                          </a>
                      {% endif %}
                    </div>
                  </div>
              {% elsif section.settings.side_media_type == 'shopify_video' and section.settings.side_shopify_video != blank %}
                <div class="luis-collection-slider-left">
                    <div class="luis-collection-slider-left-img">
                      <div class="luis-video-wrapper">
                        {{ section.settings.side_shopify_video | video_tag: 
                          controls: section.settings.video_controls,
                          autoplay: section.settings.video_autoplay,
                          loop: section.settings.video_loop,
                          muted: section.settings.video_muted,
                          playsinline: section.settings.video_playsinline,
                          poster: section.settings.video_poster | img_url: 'master'
                        }}
                      </div>
                    </div>
                    <div class="luis-collection-slider-left-content">
                      {% if section.settings.title != blank %}
                        <h2>{{ section.settings.title }}</h2>
                      {% endif %}
                      {% if section.settings.button_url != blank %}
                          <a class="luis-primary-button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M10.7751 9.48691H2.73657V8.16641H10.7751L7.0777 4.46902L8.01855 3.54468L13.3005 8.82666L8.01855 14.1086L7.0777 13.1843L10.7751 9.48691Z" fill="white"/>
                          </svg>
                          </a>
                      {% endif %}
                    </div>
                  </div>
              {% elsif section.settings.side_media_type == 'external_video' and section.settings.side_video_url != blank %}
                <div class="luis-collection-slider-left">
                    <div class="luis-collection-slider-left-img">
                      {% if section.settings.side_video_url.type == 'youtube' %}
                        <iframe 
                          style="width: 100%; aspect-ratio: 16 / 9;" 
                          src="https://www.youtube.com/embed/{{ section.settings.side_video_url.id }}?rel=0&modestbranding=1&playsinline=1&controls={% if section.settings.video_controls %}1{% else %}0{% endif %}&autoplay={% if section.settings.video_autoplay %}1{% else %}0{% endif %}&mute={% if section.settings.video_muted %}1{% else %}0{% endif %}&loop={% if section.settings.video_loop %}1{% else %}0{% endif %}{% if section.settings.video_loop %}&playlist={{ section.settings.side_video_url.id }}{% endif %}"
                          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                        </iframe>
                      {% elsif section.settings.side_video_url.type == 'vimeo' %}
                        <iframe 
                          style="width: 100%; aspect-ratio: 16 / 9;" 
                          src="https://player.vimeo.com/video/{{ section.settings.side_video_url.id }}?autoplay={% if section.settings.video_autoplay %}1{% else %}0{% endif %}&muted={% if section.settings.video_muted %}1{% else %}0{% endif %}&loop={% if section.settings.video_loop %}1{% else %}0{% endif %}&title=0&byline=0&portrait=0"
                          frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                        </iframe>
                      {% endif %}
                    </div>
                    <div class="luis-collection-slider-left-content">
                      {% if section.settings.title != blank %}
                        <h2>{{ section.settings.title }}</h2>
                      {% endif %}
                      {% if section.settings.button_url != blank %}
                          <a class="luis-primary-button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M10.7751 9.48691H2.73657V8.16641H10.7751L7.0777 4.46902L8.01855 3.54468L13.3005 8.82666L8.01855 14.1086L7.0777 13.1843L10.7751 9.48691Z" fill="white"/>
                          </svg>
                          </a>
                      {% endif %}
                    </div>
                  </div>
              {% endif %}
                <div class="luis-collection-slider-right">
                    <div class="splide luis-collection-slider-splide">
                        <div class="splide__track">
                            <div class="splide__list">
                                {% for product in section.settings.collection.products %}
                                    {% if product.featured_image != blank %}
                                        <div class="splide__slide" data-splide-interval="5000">
                                            {% render 'product-card-04', product_card_product: product %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Collection Slider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
        {
          "type": "select",
          "id": "side_media_type",
          "label": "Side Media Type",
          "default": "image",
          "options": [
            { "value": "image", "label": "Image" },
            { "value": "video_file", "label": "Video (uploaded file sources)" },
            { "value": "shopify_video", "label": "Shopify Video (hosted)" },
            { "value": "external_video", "label": "External Video (YouTube/Vimeo)" }
          ]
        },
        {
          "type": "image_picker",
          "id": "side_image",
          "label": "Side Image",
          "info": "Image size suggestion: 650 x 650 px"
        },
        {
          "type": "video",
          "id": "side_shopify_video",
          "label": "Shopify Video (hosted)",
          "info": "Select a video uploaded to Shopify Files"
        },
        {
          "type": "video",
          "id": "side_video",
          "label": "Side Video (upload)",
          "info": "Upload an MP4/WebM video to Files and select it here"
        },
        {
          "type": "video_url",
          "id": "side_video_url",
          "label": "Side Video URL (YouTube/Vimeo)",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video Poster Image",
          "info": "Shown before playback for uploaded videos"
        },
        {
          "type": "checkbox",
          "id": "video_controls",
          "label": "Show controls",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "video_loop",
          "label": "Loop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "video_muted",
          "label": "Muted (required for autoplay on most browsers)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_playsinline",
          "label": "Plays inline on mobile",
          "default": true
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title Here",
            "default": "New Collection"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Explore"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
  ],
  "presets": [
    {
        "name": "Collection Slider"
    }
  ]
}
{% endschema %}